<!DOCTYPE html>

<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }} | {{ config:app.name }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {{ livewire:styles }}
    <link rel="stylesheet" href="{{ mix src='css/app.css' }}">
    <script defer src="{{ mix src='/js/alpine.js' }}"></script>
</head>

<body class="{{ if config:app:debug }}debug-screens{{ /if }}">
    {{ partial:header }}
    {{ template_content }}
    {{ partial:footer }}
    {{ livewire:scripts }}
    <script src="{{ mix src='/js/app.js' }}"></script>
    <!-- coded with care by https://kevinlim.net -->
</body>

</html>