<div class="relative z-0 h-[90vh] overflow-hidden bg-cover bg-center bg-no-repeat" style="background-image:url('{{ image_a1 }}{{ url }}{{ /image_a1 }}');">
    <div class="absolute inset-0 z-10 bg-gradient-to-b from-primary-900 opacity-50"></div>
    <img class="absolute bottom-0 right-0 z-20 translate-y-[25%] translate-x-[25%] transform opacity-50" src="{{ image_a2 }}{{ url }}{{ /image_a2 }}" alt="" />
    <div class="container absolute inset-0 z-30 mx-auto flex flex-col items-start justify-center px-[15px]">
        <div class="mt-[50px] mb-[30px] font-primary text-[50px] font-semibold leading-[50px] text-white md:mt-[75px] md:mb-[45px] md:text-[75px] md:leading-[75px] xl:mt-[100px] xl:mb-[60px] xl:text-[100px] xl:leading-[100px]">
            {{ title_a | nl2br }}
        </div>
        <div class="mb-[40px] font-primary text-[17px] text-white md:mb-[60px] md:text-[26px] xl:mb-[80px] xl:text-[34px]">{{ content_a | nl2br }}</div>
    </div>
</div>
<div class="bg-primary">
    <div class="container mx-auto px-[15px] pt-[80px] pb-[140px]">
        <div class="md:md-[45px] mb-[30px] font-primary text-[40px] font-semibold leading-[40px] text-primary-75 md:text-[60px] md:leading-[60px] xl:mb-[60px] xl:text-[80px] xl:leading-[80px]">{{ title_b | nl2br }}</div>
        <div class="font-primary text-[18px] text-primary-75">{{ content_b | nl2br }}</div>
    </div>
</div>
<div class="relative z-0 flex min-h-[250vh] bg-cover bg-left-bottom bg-no-repeat py-[75px]" style="background-image:url('{{ image_c1 }}{{ url }}{{ /image_c1 }}');">
    <div class="absolute bottom-0 left-0 z-10 h-[50%] w-full bg-gradient-to-t from-primary"></div>
    <div class="absolute left-0 top-[35%] z-20 w-full">
        <div class="container mx-auto px-[15px] xl:max-w-[80%]">
            <img src="{{ image_c2 }}{{ url }}{{ /image_c2 }}" alt="" />
        </div>
    </div>
    <div class="container relative z-30 mx-auto self-end px-[15px] xl:max-w-[90%]">
        <div class="grid grid-cols-5 gap-y-[15px] gap-x-[15px]">
            {{ products_c }}
            <div class="col-span-5 xl:col-span-1 xl:min-h-[100vh]">
                <div class="relative h-full rounded-full border-2 border-primary-75 py-[100px] px-[40px]">
                    <div class="flex items-center justify-center">
                        <img src="{{ image_1 }}{{ url }}{{ /image_1 }}" alt="" />
                    </div>
                    <div class="flex min-h-[100px] items-center justify-center">
                        <div class="font-primary-75 text-center text-[25px] font-semibold leading-[25px] text-primary-75">{{ title | nl2br }}</div>
                    </div>
                    <div class="font-primary-75 text-[16px] text-primary-75">{{ content | nl2br }}</div>
                    <div
                        class="absolute bottom-[10px] left-[50%] z-[-1] aspect-square w-[20%] origin-bottom translate-x-[-50%] scale-[0.75] transform rounded-full border-2 border-primary-75 bg-cover bg-center bg-no-repeat md:scale-[0.4] xl:w-[calc(100%-20px)] xl:scale-100"
                        style="background-image:url('{{ image_2 }}{{ url }}{{ /image_2 }}');"
                    ></div>
                </div>
            </div>
            {{ /products_c }}
        </div>
    </div>
</div>
