<div class="relative z-0 h-[90vh] overflow-hidden bg-cover bg-center bg-no-repeat" style="background-image:url('{{ image_a1 }}{{ url }}{{ /image_a1 }}');">
    <div class="absolute inset-0 z-10 bg-gradient-to-b from-primary-900 opacity-50"></div>
    <img class="absolute bottom-0 right-0 z-20 translate-y-[25%] translate-x-[25%] transform opacity-50" src="{{ image_a2 }}{{ url }}{{ /image_a2 }}" alt="" />
    <div class="container absolute inset-0 z-30 mx-auto flex flex-col items-start justify-center px-[15px]">
        <div class="mt-[50px] mb-[30px] font-primary text-[50px] font-semibold leading-[50px] text-white md:mt-[75px] md:mb-[45px] md:text-[75px] md:leading-[75px] xl:mt-[100px] xl:mb-[60px] xl:text-[100px] xl:leading-[100px]">
            {{ title_a | nl2br }}
        </div>
        <div class="mb-[40px] font-primary text-[17px] text-white md:mb-[60px] md:text-[26px] xl:mb-[80px] xl:text-[34px]">{{ content_a | nl2br }}</div>
    </div>
</div>
{{ livewire:employer }}
<div class="flex items-center justify-center py-[120px]">
    <img src="{{ image_b }}{{ url }}{{ /image_b }}" alt="" />
</div>
