<div class="relative z-0 h-[120vh] overflow-hidden bg-cover bg-center bg-no-repeat" style="background-image:url('{{ image_a1 }}{{ url }}{{ /image_a1 }}');">
    <div class="absolute inset-0 z-10 bg-gradient-to-b from-primary-900 opacity-50"></div>
    <img class="absolute bottom-0 right-0 z-20 translate-y-[25%] translate-x-[25%] transform opacity-50" src="{{ image_a2 }}{{ url }}{{ /image_a2 }}" alt="" />
    <div class="container absolute inset-0 z-30 mx-auto flex flex-col items-start justify-center px-[15px]">
        <div class="mt-[50px] mb-[30px] font-primary text-[50px] font-semibold leading-[50px] text-white md:mt-[75px] md:mb-[45px] md:text-[75px] md:leading-[75px] xl:mt-[100px] xl:mb-[60px] xl:text-[100px] xl:leading-[100px]">
            {{ title_a | nl2br }}
        </div>
        <div class="mb-[40px] font-primary text-[17px] text-white md:mb-[60px] md:text-[26px] xl:mb-[80px] xl:text-[34px]">{{ content_a | nl2br }}</div>
        {{ livewire:job-search }}
    </div>
</div>
<div class="grid grid-cols-12">
    <div class="col-span-12 flex items-center justify-start bg-primary py-[60px] px-[60px] xl:col-span-6 xl:min-h-[550px] xl:justify-center">
        <div class="white-nowrap relative ml-[35px] font-primary text-[56px] font-semibold uppercase leading-[56px] text-primary-75 md:ml-[53px] md:text-[120px] md:leading-[100px] xl:ml-[70px] xl:text-[160px] xl:leading-[140px]">
            {{ title_b | nl2br }}
            <div class="absolute top-[50%] left-0 translate-y-[-50%] translate-x-[-100%] scale-50 transform md:scale-75 xl:scale-100">
                <img src="{{ image_b }}{{ url }}{{ /image_b }}" alt="" />
            </div>
        </div>
    </div>
    {{ products_b }} {{ if index == 0 || index == 1 }}
    <div class="group group relative z-0 col-span-12 bg-primary-75 py-[60px] px-[60px] xl:col-span-6 xl:min-h-[550px]">
        <div class="absolute inset-0 z-10 bg-cover bg-left-top bg-no-repeat opacity-0 transition-all duration-500 group-hover:opacity-100" style="background-image:url('{{ image_1 }}{{ url }}{{ /image_1 }}');"></div>
        <div class="absolute inset-0 z-20 bg-primary-75 bg-opacity-50 opacity-0 transition-all duration-500 group-hover:opacity-100"></div>
        <div class="absolute inset-0 z-30 bg-gradient-to-r from-primary-75"></div>
        <div class="relative z-40 {{ if index == 1 }} ml-0 xl:ml-36 {{ /if }}">
            <div class="relative mb-[30px] inline-block font-primary text-[30px] font-semibold leading-[30px] text-primary md:text-[45px] md:leading-[45px] xl:text-[60px] xl:leading-[60px]">
                {{ title | nl2br }}
                <div class="absolute top-[50%] right-0 translate-y-[-50%] translate-x-[125%] scale-50 transform md:scale-75 xl:scale-100">
                    <img src="{{ image_2 }}{{ url }}{{ /image_2 }}" alt="" />
                </div>
            </div>
            <div class="font-primary text-[18px] text-primary">{{ content | nl2br }}</div>
        </div>
        <a href="{{ link }}" class="absolute inset-0 z-50"></a>
    </div>
    {{ /if }} {{ if index == 2 }}
    <div class="group group relative z-0 col-span-12 bg-primary py-[60px] px-[60px] xl:col-span-6 xl:min-h-[550px]">
        <div class="absolute inset-0 z-10 bg-cover bg-left-top bg-no-repeat opacity-0 transition-all duration-500 group-hover:opacity-100" style="background-image:url('{{ image_1 }}{{ url }}{{ /image_1 }}');"></div>
        <div class="absolute inset-0 z-20 bg-primary bg-opacity-50 opacity-0 transition-all duration-500 group-hover:opacity-100"></div>
        <div class="absolute inset-0 z-30 bg-gradient-to-r from-primary"></div>
        <div class="relative z-40">
            <div class="relative mb-[30px] inline-block font-primary text-[30px] font-semibold leading-[30px] text-primary-75 md:text-[45px] md:leading-[45px] xl:text-[60px] xl:leading-[60px]">
                {{ title | nl2br }}
                <div class="absolute top-[50%] right-0 translate-y-[-50%] translate-x-[125%] scale-50 transform md:scale-75 xl:scale-100">
                    <img src="{{ image_2 }}{{ url }}{{ /image_2 }}" alt="" />
                </div>
            </div>
            <div class="font-primary text-[18px] text-primary-75">{{ content | nl2br }}</div>
        </div>
        <a href="{{ link }}" class="absolute inset-0 z-50"></a>
    </div>
    {{ /if }} {{ /products_b }}
</div>
<div class="relative z-0 min-h-[250vh] bg-cover bg-left-bottom bg-no-repeat pb-[75px]" style="background-image:url('{{ image_c1 }}{{ url }}{{ /image_c1 }}');">
    <div class="absolute inset-0 z-10 bg-primary-75 bg-opacity-50 xl:bg-opacity-0"></div>
    <div class="container relative z-20 mx-auto px-[15px] xl:max-w-[90%]">
        <div class="flex flex-col items-center justify-center py-[75px]">
            <img class="mb-[50px]" src="{{ image_c2 }}{{ url }}{{ /image_c2 }}" alt="" />
            <div class="text-center font-primary text-[30px] font-semibold uppercase leading-[30px] text-primary md:text-[60px] md:leading-[60px] xl:text-[80px] xl:leading-[80px]">{{ title_c | nl2br }}</div>
        </div>
        <div class="grid grid-cols-5 gap-y-[15px] gap-x-[15px]">
            {{ products_c }}
            <div class="col-span-5 xl:col-span-1 xl:min-h-[75vh]">
                <div class="h-full rounded-full border-2 border-primary py-[100px] px-[40px]">
                    <div class="flex items-center justify-center">
                        <img src="{{ image }}{{ url }}{{ /image }}" alt="" />
                    </div>
                    <div class="flex min-h-[100px] items-center justify-center">
                        <div class="text-center font-primary text-[25px] font-semibold leading-[25px] text-primary">{{ title | nl2br }}</div>
                    </div>
                    <div class="font-primary text-[16px] text-primary">{{ content | nl2br }}</div>
                </div>
            </div>
            {{ /products_c }}
        </div>
    </div>
</div>
