<div class="relative z-0 h-[90vh] overflow-hidden bg-cover bg-left-top bg-no-repeat" style="background-image:url('{{ image_a1 }}{{ url }}{{ /image_a1 }}');">
    <div class="absolute inset-0 z-10 bg-gradient-to-b from-primary-900 opacity-50"></div>
    <img class="absolute bottom-0 right-0 z-20 translate-y-[25%] translate-x-[25%] transform opacity-50" src="{{ image_a2 }}{{ url }}{{ /image_a2 }}" alt="" />
    <div class="container absolute inset-0 z-30 mx-auto flex flex-col items-start justify-center px-[15px]">
        <div class="mt-[50px] mb-[30px] font-primary text-[50px] font-semibold leading-[50px] text-white md:mt-[75px] md:mb-[45px] md:text-[75px] md:leading-[75px] xl:mt-[100px] xl:mb-[60px] xl:text-[100px] xl:leading-[100px]">
            {{ title_a | nl2br }}
        </div>
        <div class="mb-[40px] font-primary text-[17px] text-white md:mb-[60px] md:text-[26px] xl:mb-[80px] xl:text-[34px]">{{ content_a | nl2br }}</div>
    </div>
</div>
<div class="bg-primary">
    <div class="container mx-auto px-[15px] pt-[80px] pb-[140px]">
        <div class="md:md-[45px] mb-[30px] font-primary text-[40px] font-semibold leading-[40px] text-primary-75 md:text-[60px] md:leading-[60px] xl:mb-[60px] xl:text-[80px] xl:leading-[80px]">{{ title_b | nl2br }}</div>
        <div class="font-primary text-[18px] text-primary-75">{{ content_b | nl2br }}</div>
    </div>
</div>
<div class="relative z-0 min-h-[250vh] bg-cover bg-left-bottom bg-no-repeat pb-[75px]" style="background-image:url('{{ image_c1 }}{{ url }}{{ /image_c1 }}');">
    <div class="absolute bottom-0 z-10 h-[500px] w-full bg-gradient-to-t from-primary"></div>
    <div class="container relative z-20 mx-auto px-[15px]">
        <div class="flex flex-col items-start justify-start py-[75px]">
            <img class="mb-[100px] self-center" src="{{ image_c2 }}{{ url }}{{ /image_c2 }}" alt="" />
            <div class="mb-[60px] text-left font-primary text-[30px] font-semibold leading-[30px] text-primary md:text-[45px] md:leading-[45px] xl:text-[60px] xl:leading-[60px]">{{ title_c | nl2br }}</div>
            <div class="mb-[60px] flex flex-wrap justify-center gap-[15px] xl:flex-nowrap xl:justify-start">
                {{ products_c }}
                <div class="flex aspect-square w-[180px] flex-col items-center justify-start rounded-full bg-primary pt-[40px]">
                    <img class="mb-[20px] self-center" src="{{ image }}{{ url }}{{ /image}}" alt="" />
                    <div class="font-primary text-[18px] text-primary-75">{{ title }}</div>
                </div>
                {{ /products_c }}
            </div>
            {{ livewire:job-seeker }}
        </div>
    </div>
</div>
