<div class="h-[85vh] bg-primary-200 relative z-0 overflow-hidden">
	<img class="opacity-50 transform translate-y-[20%] translate-x-[20%] absolute z-10 bottom-0 right-0"
		src="{{ image_a }}{{ url }}{{ /image_a }}" alt="">
	<div class="container mx-auto px-[15px] flex items-center absolute inset-0 z-30">
		<div class="flex flex-wrap xl:flex-nowrap items-start justify-between">
			<div
				class="xl:w-7/12 font-primary font-semibold text-[50px] leading-[50px] md:text-[75px] md:leading-[75px] xl:text-[100px] xl:leading-[100px] text-primary mb-[30px] md:mb-[45px] xl:mb-0">
				{{ title_a | nl2br }}</div>
			<div class="xl:w-5/12">
				<div class="font-primary text-[17px] md:text-[26px] xl:text-[34px] text-primary">{{ content_a1 | nl2br
					}} <span class="font-bold">{{
						content_a2 }}</span></div>
			</div>
		</div>
	</div>
</div>
{{ products_b }}
{{ if index | mod:2 }}
<div class="grid grid-cols-12">
	<div class="order-2 xl:order-1 col-span-12 xl:col-span-6 bg-cover bg-left-top bg-no-repeat min-h-[500px] xl:min-h-auto"
		style="background-image:url('{{ image }}{{ url }}{{ /image }}');">
	</div>
	<div class="order-1 xl:order-2 col-span-12 xl:col-span-6 bg-primary pt-[60px] pb-[120px] px-[60px]">
		<div class="xl:w-8/12">
			<div
				class="font-primary font-semibold text-[30px] leading-[30px] md:text-[45px] md:leading-[45px] xl:text-[60px] xl:leading-[60px] text-primary-75 mb-[30px]">
				{{ title | nl2br }}</div>
			<div class="font-primary text-[18px] text-primary-75">{{ content | nl2br }}</div>
		</div>
	</div>
</div>
{{ else }}
<div class="grid grid-cols-12">
	<div class="order-1 xl:order-1 col-span-12 xl:col-span-6 bg-primary pt-[60px] pb-[120px] px-[60px]">
		<div class="xl:ml-auto xl:w-8/12">
			<div
				class="font-primary font-semibold text-[30px] leading-[30px] md:text-[45px] md:leading-[45px] xl:text-[60px] xl:leading-[60px] text-primary-75 mb-[30px]">
				{{ title | nl2br }}</div>
			<div class="font-primary text-[18px] text-primary-75">{{ content | nl2br }}</div>
		</div>
	</div>
	<div class="order-1 xl:order-2 col-span-12 xl:col-span-6 bg-cover bg-left-top bg-no-repeat min-h-[500px] xl:min-h-auto"
		style="background-image:url('{{ image }}{{ url }}{{ /image }}');">
	</div>
</div>
{{ /if }}
{{ /products_b }}
<div class="bg-primary-150 py-[40px]">
	<div class="container mx-auto px-[15px]">
		<div class="flex flex-wrap xl:flex-nowrap justify-center xl:justify-end gap-y-[40px] xl:gap-y-[0] gap-x-[40px]">
			<img class="self-start" src="{{ image_c }}{{ url }}{{ /image_c }}" alt="">
			<div>
				<div class="font-primary text-[16px] text-primary">{{ content_c | nl2br }}</div>
				<a class="block font-primary text-[16px] text-primary hover:text-primary-700 transition-all"
					href="tel:{{ company:phone }}">{{ company:phone
					}}</a>
				<a class="block font-primary text-[16px] text-primary hover:text-primary-700 transition-all"
					href="mailto:{{ company:email }}">{{
					company:email }}</a>
			</div>
		</div>
	</div>
</div>